

	

<div class="container">
	<div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h2>Tweet一覧</h2>
     <p class="new_tweet"><%= link_to "つぶやく", new_tweet_path %></p>

<% @tweet.each do |tweet| %>
<div class="row">
 <p>内容: <%= tweet.content %></p>
  <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-success' %>
  <%= link_to "削除", tweet_path(tweet.id), data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger', method: :delete  %>
 </div>
 <% end %>
 

 
 </div>
 </div>
